.header {
  width: 100%;
  font-size: 2rem;
  color: #2A77AE;
  margin-bottom: 10px;
  background-color: black;
}

.title {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.scores {
  float: right;
}
